<footer>
	<p class="text-center text-muted">
		Feito com 💜 durante curso NodeJS com EJS no Discover da
		<span class="rocketseat"> Rocketseat</span> - Andressa Da Costa- &copy;
		04/08/2022.
	</p>
</footer>
