<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>

	<body class="container">
		<%- include('../partials/header') %>

		<main>
			<div class="jumbotron">
				<h1>Contato:</h1>
				<span>Linkedin: "https://www.linkedin.com/in/andressa-da-costa"</span>
			</div>
		</main>

		<%- include ('../partials/footer') %>
	</body>
</html>
