<!DOCTYPE html>

<%-include('head'); %>

<body>
  
  <%-include('header'); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim:</h1>
        <p>Oi eu sou Andressa Da Costa estudante de Programação na Rocketseat</p>
      </div>
    </main>

  <%-include('footer'); %>

</body>
</html>


