<!DOCTYPE html>

<%-include('../partials/head'); %>

<body>
  
  <%-include('../partials/header'); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim:</h1>
        <p>Oi eu sou Andressa Da Costa estudante de Programação na Rocketseat</p>
      </div>
    </main>

  <%-include('../partials/footer'); %>

</body>
</html>


